<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <title>ToDoApp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">            
</head>

<body>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">ToDoApp</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Simple ToDoApp with pretty design</h1>

        <div class="row">
            <div class="col s4">
                <h4>ADD NEW TASK</h4>
                <div class="card">
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <form action="add_todo/" method="POST">
                        {% csrf_token %}
                        <div class="card-content">
                            <div class="input-field">
                                <select name="category">
                                    <option value="" disabled selected>Choose category</option>
                                    {% for category in category_list %}
                                        <option value="{{ forloop.counter }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                                <label>Category</label>
                            </div>
                            <div class="input-field">
                                <input id="to_do" type="text" class="validate" name="to_do">
                                <label for="to_do">ToDo</label>
                            </div>
                            <div class="input-field">
                                <input type="text" class="datepicker" id="date" name="date">
                                <label for="date">Date</label>
                            </div>
                            <div class="input-field">
                                <input type="text" class="timepicker" id="time" name="time">
                                <label for="time">Time</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit" name="add">Add
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s4">
                <h4>SEARCH</42>
                <div class="card">
                    <form action="{% url 'my_app:new_search' %}" method="POST">
                        {% csrf_token %}
                        <div class="card-content">
                            <div class="input-field">
                                <input id="search_field" type="text" class="validate" name="search_field">
                                <label for="search_field">Search</label>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit" name="search">Search
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s4">
                <h4>SHOW BY DAY</h4>
                <div class="card">
                    <form action="{% url 'my_app:day' %}" method="POST">
                        {% csrf_token %}
                        <div class="card-content">
                            <input type="text" class="datepicker" name="day_field">
                        </div>
                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit" name="show">Show
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% block content %}

        <div class="row">
            {% for category in category_list %}
                <div class="col s4">
                    <ul class="collection with-header">
                        <li class="collection-header"><h4>{{ category }}</h4></li>
                        {% for task in category.tasks_set.all %}
                                <li class="collection-item">
                                    <form action="delete_todo/{{task.id}}/" method="POST">
                                        {% csrf_token %}
                                        <label>
                                            {% if task.is_done %}
                                                <input type="checkbox" checked="checked" disabled="disabled">
                                            {% else %}
                                                <input type="checkbox" disabled="disabled">
                                            {% endif %}
                                            <span>{{ task }}<br>{{ task.deadline }}</span>
                                        </label>
                                    
                                        <button class="waves-effect waves-light btn-floating right" type="submit" name="delete">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </form>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        {% endblock content %}

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker();
            $('.timepicker').timepicker();
            $('select').formSelect();
        });
    </script>
</body>
</html>